body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.nav {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
}

.sidebar {
    background-color: #000;
    width: 300px;
    margin-right: 0.5rem;
}

.main-content {
    background-color: #171717;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1rem;
}

.music-player {
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 90px;
}

.nav-option {
    line-height: 40px;
    opacity: 0.7;
    padding: 0.25rem 0.75rem;
    font-weight: 600;
}

.nav-option:hover {
    opacity: 1;
}

.nav-option i {
    font-size: 1.25rem;
    margin-right: 1rem;
}

.nav-option a {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: white;
}

.library {
    background-color: #121212;
    border-radius: 1rem;
    margin-top: 0.5rem;
    height: 100%;
    padding: 0.5rem 0.75rem;
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 1rem;
}

.icons {
    font-size: 1.25rem;
    display: flex;
}

.icons i {
    opacity: 0.7;
    margin-right: 1rem;
}

.icons i:hover {
    opacity: 1;
}

.lib-box .box {
    width: 224px;
    /* height: 105px; */
    margin: 0.5rem 0 1rem 0;
    padding: 0.25rem 1.25rem 0.75rem 1.25rem;
    background-color: #242424;
    border-radius: 1rem;
}

.box .box-p1 {
    font-size: 1rem;
    font-weight: 500;
}

.box .box-p2 {
    font-size: 0.88rem;
    opacity: 0.9;
}

.badge {
    border: none;
    color: black;
    background-color: white;
    padding: 0.25rem 1rem;
    border-radius: 2rem;
    font-size: 0.9;
    font-weight: 600;
    height: 32px;
    width: fit-content;
    margin-top: 0.5rem;
    cursor: pointer;
}

.sticy-nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    /* background-color: #242424; */
    z-index: 2;
}

.sticky-nav-icon {
    margin-left: 0.75rem;
}

.sticky-nav-options {
    margin-right: 1.5rem;
}

.sticky-nav-options .badge {
    margin-top: 0;
}

.dark-badge {
    background-color: black;
    color: white;
}

.dark-badge i {
    font-size: 1rem;
    font-weight: 400;
    margin-right: 0.5rem;
}

.nav-items {
    margin-right: 0.5rem;
}

@media(max-width: 1000px) {
    .hide {
        display: none;
    }
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 170px;
    background-color: #242424;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.card-img {
    width: 100%;
    border-radius: 0.5rem;
}

.card-title {
    font-weight: 600;
}

.card-info {
    font-size: 0.85rem;
    opacity: 0.8;
}

.music-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album {
    width: 25%;
    /* background-color: yellow; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.album-main-img {
    height: 100%;
    padding: 0.5rem;
}

.album-title {
    font-size: 1rem;
    font-weight: 600;
    margin-right: 0.25rem;;
}

.album-artist {
    font-size: 0.75rem;
    margin-top: -0.25rem;
}

.album-img {
    height: 2rem;
    padding: 0 0.15rem;
}

.album-img-fav {
    height: 1.5rem;
    margin-top: -0.1rem;
    padding-left: 0.6rem;
    padding-right: 0.3rem;
}

.player {
    width: 50%;
    padding-bottom: 0.75rem;
    /* background-color: coral; */
}

.player-control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

.player-control-icon {
    height: 1rem;
    margin: 0 0.8rem;
    opacity: 0.7;
}

.player-control-icon:hover {
    opacity: 1;
}

.player-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

.progress-bar {
    width: 60%;
    margin: 0 0.6rem;
    appearance: none;
    cursor: pointer;
    border-radius: 50%;
}

.progress-bar::-webkit-slider-runnable-track {
    background-color: #ddd;
    height: 0.25rem;
    border-radius: 0.25rem;
}

.progress-bar::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #1bd760;
    margin-top: -0.40rem;
}

.controls {
    width: 25%;
    /* background-color: aqua; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.control-img {
    height: 2.25rem;
    margin: 0 0.25rem;
}

.two {
    height: 1rem;
    margin: 0 0.35rem;
}

.cotrol-progress {
    margin-right: 1rem;
}

